html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #141823;
  background-color: rgb(241,243,245);
  /*background-color: #b1b5be; same as center */
  font-weight: bold;
}

h1 {
  font-family: 'Corben', sans-serif;
  font-size: 1.3em;
}

.simon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  /*margin: auto;*/
  width: 300px;
  height: 485px;

  /*width: 600px;
  height: 970px;*/

  margin: auto;
}

.pads {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  /*margin: auto;*/
  width: 100%;
  /*height: 300px;*/
  height: 61.858%;
  background-color: #141823;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.center {
  background-color: #b1b5be;
  /*height: 100px;
  width: 100px;*/
  /*height: 80px;*/
  height: 26.6%;
  /*width: 80px;*/
  width: 26.6%;
  border-radius: 50%;
  position: absolute;
  /*top: 55%;*/
  /*top: 33.5%;*/
  top: 36.5%;
  box-shadow: 0 0 0 15px #141823;
}

.pad {
  /*margin: 9px;*/
  margin: 3%;
  /*height: 125px;*/
  height: 41.7%;
  /*width: 125px;*/
  width: 41.7%;
}

.red {
  background-color: #ff4339;
  filter: brightness(80%); /* originally 70% */
  /*opacity: .7;*/
  /*border-radius: 5000px 20px 20px;*/
  border-radius: 5000% 10% 10% 10%;
}

.blue {
  background-color: #1bbdff;
  filter: brightness(80%);
  /*opacity: .7;*/
  /*border-radius: 20px 5000px 20px 20px;*/
  border-radius: 10% 5000% 10% 10%;
}

.green {
  background-color: #15ba22;
  filter: brightness(80%);
  /*opacity: .7;*/
  /*border-radius: 20px 20px 20px 5000px;*/
  border-radius: 10% 10% 10% 5000%;
}

.yellow {
  background-color: #ffff01;
  filter: brightness(80%);
  /*opacity: .7;*/
  /*border-radius: 20px 20px 5000px 20px;*/
  border-radius: 10% 10% 5000% 15%;
}

.active {
  filter: brightness(100%);
  /*opacity: 1;*/
}

.controls-background {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  margin: auto;
  /*top: -70px;*/
  /*margin-top: -70px;*/
  margin-top: -23.4%;
  border-top: 255px solid #141823;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

  /*border-top: 510px solid #141823;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;*/

	height: 0;
  /*width: 230px;*/
  width: 76.7%;
  z-index: 0;
}

.controls-silver-background {
  position: relative;
  border-top: 210px solid #b1b5be;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  /*border-top: 420px solid #b1b5be;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;*/

  /*top: -250px;*/
  height: 0;
  /*width: 175px;*/
  width: 76%;
  margin: auto;
  /*margin-top: -250px;*/
  margin-top: -108.7%;
}

.controls {
  /*margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*width: 230px;*/
  position: absolute;
  /*top: -140px;*/
  /*margin: auto;*/
  /*margin-top: -140px;*/
  margin-top: -80%;
  /*z-index: 1;*/
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.button {
  height: 15px;
  width: 15px;
  /*margin: 5px 20px 0 20px;*/
  margin: 2.9% 11.4% 0 11.4%;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #141823;
  cursor: pointer;
}

.button-labels {
  display: flex;
  font-size: .65em;
  margin: auto;
  position: relative;
  width: 100%;
}

.last-button, .longest-button {
  background-color: #1bbdff;
  filter: brightness(80%);
}

.start-button {
  background-color: #ff4339;
  filter: brightness(80%);
}

.last-label {
  /*margin: 8px 10px 1px -1px;*/
  margin: 4.5% 0 0 11.5%;
  position: absolute;
}

.start-label {
  /*margin: 8px 11px 1px 19px;*/
  /*margin: 4.5% 0 0 42%;*/
  margin: 4.5% 40% 0 41%;
  position: absolute;
}

.longest-label {
  /*margin: 8px -11px 1px 7px;*/
  /*margin: 4.5% 0 0 68.5%;*/
  margin: 4.5% 10% 0 68.5%;
  position: absolute;
}

.toggle-switches {
  display: flex;
  /*margin: -3% 0 0 0;*/
  margin: 11% 0 0 0;
}

.toggle-on-off-strict {
  width: 50px;
  /*margin: 0 15px 0 15px;*/
  margin: 0 8.5% 0 8.5%;
  cursor: pointer;
}

.toggle-skill-level {
  width: 50px;
  /*margin: 0 15px 0 15px;*/
  margin: 0 8.5% 0 8.5%;
  cursor: pointer;
}

.switch-value-labels {
  display: flex;
  flex-grow: 1;
  font-size: .58em;
  /*margin-top: -7px;*/
  margin: -7% 0 0 0;
  width: 100%;
  position: relative;
}

.on-off-strict-label,
.skill-level-label {
  display: flex;
}

.on-off-strict-label {
  /*margin-left: 16px;*/
  margin: 0 0 0 7.5%;
  position: absolute;
}

.on-off-strict-label p {
  /*margin: 0 8px 0 0;*/
  margin: 0px 11% 0 0;
}

.skill-level-label {
  /*margin-right: 20px;*/
  margin: 0 0 0 56.5%;
  position: absolute;
}

.skill-level-label p {
  /*margin: 0 0 0 8.5px;*/
  margin: 0 0 0 42%;
}

.switch-type-labels {
  display: flex;
  font-size: .65em;
  /*margin: auto;*/
  margin: 3% 0 0 0;
  position: relative;
  width: 100%;
}

.game-type-label {
  /*margin: 0 33px 0 17px;*/
  margin: 0 10% 0 16%;
  position: absolute
}

.skill-type-label {
  /*margin: 0 6px 0 10px;*/
  margin: 0 5% 0 59%;
  position: absolute;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

/* thumb styling for Chrome */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  /*height: 14px;*/
  height: 100%;
  /*width: 16px;*/
  width: 27.8%;
  cursor: pointer;
}

.toggle-on-off-strict::-webkit-slider-thumb {
  background: #ff4339;
  filter: brightness(80%);
}

.toggle-skill-level::-webkit-slider-thumb {
  background: #1bbdff;
  filter: brightness(80%);
}

/* thumb styling for Firefox */
input[type='range']::-moz-range-thumb {
  /*height: 14px;*/
  height: 100%;
  /*width: 16px;*/
  width: 27.8%;
  background: #141823;
  cursor: pointer;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  /*height: 14px;*/
  height: 43.8%;
  cursor: pointer;
  background: #141823;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

.game-name {
  display: flex;
  width: 100%;
  font-weight: bold;
  margin-top: -26%;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4em;
}

.pocket-title {
  margin: auto;
  z-index: 3;
  color: #1bbdff;
  filter: brightness(87%);
  font-size: 1.1em;
}

.simon-title {
  margin: auto;
  z-index: 3;
  color: #141823;
  font-size: 1.6em;
}

.disabled {
  pointer-events: none;
}

.enabled {
  pointer-events: auto;
}
