html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #141823;
  background-color: rgb(241,243,245);
  /*background-color: #b1b5be; same as center */
}

.simon {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  /*max-width: 95%;
  max-height: 95%;*/
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;*/
  margin: auto;
}

.pads {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 300px;
  height: 300px;
  background-color: #141823;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.center {
  background-color: #b1b5be;
  /*height: 100px;
  width: 100px;*/
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  /*top: 55%;*/
  /*top: 33.5%;*/
  top: 36.5%;
  box-shadow: 0 0 0 15px #141823;
}

.pad {
  /*margin: 7.5px;*/
  margin: 9px;
  height: 125px;
  width: 125px;
}

.red {
  background-color: #ff4339;
  filter: brightness(80%); /* originally 70% */
  /*opacity: .7;*/
  border-radius: 5000px 20px 20px;
}

.blue {
  background-color: #1bbdff;
  filter: brightness(80%);
  /*opacity: .7;*/
  border-radius: 20px 5000px 20px 20px;
}

.green {
  background-color: #15ba22;
  filter: brightness(80%);
  /*opacity: .7;*/
  border-radius: 20px 20px 20px 5000px;
}

.yellow {
  background-color: #ffff01;
  filter: brightness(80%);
  /*opacity: .7;*/
  border-radius: 20px 20px 5000px 20px;
}

.active {
  filter: brightness(100%);
  /*opacity: 1;*/
}

.controls-background {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  margin: auto;
  /*top: -70px;*/
  margin-top: -70px;
  border-top: 255px solid #141823;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
  width: 230px;
  z-index: 0;
}

.controls-silver-background {
  position: relative;
  border-top: 210px solid #b1b5be;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  /*top: -250px;*/
  height: 0;
  width: 175px;
  margin: inherit;
  margin-top: -250px;
}

.controls {
  /*margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /*width: 230px;*/
  position: absolute;
  /*top: -140px;*/
  margin: auto;
  margin-top: -140px;
  /*z-index: 1;*/
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.button {
  height: 15px;
  width: 15px;
  margin: 5px 20px 0 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #141823;
  cursor: pointer;
}

.button-labels {
  display: flex;
  font-size: .8em;
  margin: auto;
}

.last-button, .longest-button {
  background-color: #1bbdff;
  filter: brightness(80%);
}

.start-button {
  background-color: #ff4339;
  filter: brightness(80%);
}

.last-label {
  margin: 9px 10px 0px -1px;
}

.start-label {
  margin: 9px 11px 0 19px;
}

.longest-label {
  margin: 9px -11px 0 7px;
}

.toggle-switches {
  display: flex;
  margin: auto;
  margin-top: -5px
}

.toggle-on-off-strict {
  width: 50px;
  margin: 0 15px 0 15px;
}

.toggle-skill-level {
  width: 50px;
  margin: 0 15px 0 15px;
  /*cursor: pointer;*/
}

.switch-value-labels {
  display: flex;
  flex-grow: 1;
  font-size: .6em;
  margin-top: -7px;
}

.on-off-strict-label,
.skill-level-label {
  display: flex;
  margin: auto;
}

.on-off-strict-label {
  margin-left: 16px;
}

.on-off-strict-label p {
  margin: 0 8px 0 0;
}

.skill-level-label {
  margin-right: 20px;
}

.skill-level-label p {
  margin: 0 0 0 8.5px;
}

.switch-type-labels {
  display: flex;
  font-size: .8em;
  margin: auto;
}

.game-type-label {
  margin: 0 23px 0 20px;
}

.skill-type-label {
  margin: 0 5px 0 13px;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

/* thumb styling for Chrome */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 16px;
  cursor: pointer;
}

.toggle-on-off-strict::-webkit-slider-thumb {
  background: #ff4339;
  filter: brightness(80%);
}

.toggle-skill-level::-webkit-slider-thumb {
  background: #1bbdff;
  filter: brightness(80%);
}

/* thumb styling for Firefox */
input[type='range']::-moz-range-thumb {
  height: 14px;
  width: 16px;
  background: #141823;
  cursor: pointer;
}



input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  background: #141823;
}

input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

.disabled {
  pointer-events: none;
}

.enabled {
  pointer-events: auto;
}
